.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 32px;
    border-radius: 6px;
    background-color: #8f95a3;
    margin-right: 8px;
}
.title {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.13;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
